[hololens]
container = "ghcr.io/hologit/lenses/helm3:latest"

[hololens.input]
root = "data-warehouse"
files = "**"

[hololens.output]
merge = "replace"

[hololens.helm]
release_name = "data-warehouse"
namespace = "data-warehouse"
namespace_fill = true

chart_path = "helm-chart"
value_files = [
    "release-values.yaml"
]
