[hololens]
container = "ghcr.io/hologit/lenses/helm3:latest"

[hololens.input]
root = "paws-data-pipeline"
files = "**"

[hololens.output]
merge = "replace"

[hololens.helm]
namespace = "paws-data-pipeline"
release_name = "paws-data-pipeline"
namespace_fill = true
namespace_override = true

chart_path = "helm-chart"
value_files = [
    "release-values.yaml"
]
